body {
    background-color: rgb(45, 94, 26);
    font-family: "Times New Roman", Times, serif;
    color: white;
}

marquee {
    font-size: 25px;
}

.top_left {
    float: left;
    width: 550px;
    background-color: rgb(45, 94, 26);;
}

.head {
    font-size: 40px;
}

button {
    background-color:  rgb(45, 94, 26);
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 2px;
}

form {
    padding-top: 50px;
    margin-left: 20px;
    font-size: 18px;
    background-color:  rgb(45, 94, 26);
}

#add-button, #new-button {
    color: black;
}

.gifs {
    clear: both;
}

.gif_div {
    float: left;
    border: solid 2px grey;
    margin: 10px;
    padding: 5px;
}
